@font-face {
    font-family: brandon;
    src: url(/fonts/Brandon/Brandon_reg.otf);
}
@font-face {
    font-family: brandon;
    src: url(/fonts/Brandon/Brandon_reg_it.otf);
		font-style: italic;
}
@font-face {
    font-family: brandon;
    src: url(/fonts/Brandon/Brandon_bld.otf);
		font-weight: bold;
}
@font-face {
    font-family: brandon-black;
    src: url(/fonts/Brandon/Brandon_blk.otf);
}
@font-face {
    font-family: brandon-medium;
    src: url(/fonts/Brandon/Brandon_med.otf);
}
@font-face {
    font-family: brandon-light;
    src: url(/fonts/Brandon/Brandon_light.otf);
}
@font-face {
    font-family: brandon-thin;
    src: url(/fonts/Brandon/Brandon_thin.otf);
}
